/* html, body {
  font-family: 'Roboto', Arial, sans-serif !important;
  
} */
.col12 {
    width: 44% !important;
    height: 200px !important;
}
h1.hero-title.animate-slide-in {
    margin-bottom: 98px;
    font-family: 'Dancing Script', cursive !important;
    font-size: 136.6px;
    font-weight: 400 !important;
    color: #fff !important;
}
.socail-icon1234{
              width: 35px !important;
              height: 35px !important;
              display: flex !important;
              justify-content: center !important;
              align-items: center !important;
              background-color: #e52b34 !important;
              border-radius: 50% !important;
              margin: 5px 0 !important;
}
    

.bikulnewone:hover {
color: #e52b34 !important;
}
footer {
  border-top: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {

  /* remove all left shifts */
  * {
    left: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
  }

  .jhshfbg,
  .row2,
  #newheading,
  .NEWONEDABHJ {
    position: static !important;
  }

  /* fix images and blocks */
  img, .i1img, .i2img, .chefimg1 {
    width: 100% !important;
    height: auto !important;
  }

  /* fix text blocks */
  p.helloiamfirstone,
  .menu-item.p-2.Col {
    width: 100% !important;
  }

  .footerhr {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
    .navbar1 img {
        width: 45px !important;
        margin-top: -7px !important;
    }
}
* {
  font-family: 'Roboto', Arial, sans-serif !important;
  /* background-color: black; */
}
.nav-links:hover {
  color: #e52b34;
}
.miniaboutsection {
  /* background-image: url("/mnt/data/2e70281f-2763-40a3-8f12-7aa603f55ef7.png"); */
  background-size: contain; /* changed from cover */
  background-position: right;
  background-repeat: no-repeat;
  height: 550px; 
  width: 700px;
}
.navbar-scrolled {
  background-color: black !important;
  transition: background-color 0.3s ease;
}
.p-3 {
    margin-left: 56px;
} 

.absoluteimg {
    position: relative !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
width: 100%;
max-width: 100%;
    /* height: 391px; */

  
}
.menu-item2:hover    {
  color: #e52b34 !important;
  border-color: #e52b34 !important;
}

.menu-item:hover {
  border: 1px dashed #e52b34 !important; 
}
.icon-left {
    position: absolute;
    top: -123px;
    left: -20px;
    width: 70px !important;
    height: 70px !important;
     filter: grayscale(100%);
     

}
span.lemon {
  margin-left: -31px;
}
.icon-right {
    position: absolute;
    top: -123px;
    right: -31px;
    width: 70px !important;
    height: 70px !important;
}

.menu-item {
  border: 1px  dashed #d1d1d1;
  padding-bottom: 15px;
  margin-bottom: 15px; 
}
.menu-item.p-2.py-2.px-2.col-4 {
    padding: 21px !important;
}
.ing{
    display: flex !important;
    justify-content: space-between;
}


.hello {
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
        margin-top: 0;
    margin-bottom: 1rem;
width: 60%;
font-size: 16px;
    line-height: 2;
    font-weight: 400;
    color: gray;
}
.d-flex.justify-content-center {
    gap: 69px;
}
p.text-justify.areone {
    margin-left: 1px;
    margin-right: 60px;
}
.home-hero-img {
  height: 100vh;
  object-fit: cover;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;

}

.carousel-image-wrapper {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* black with 40% opacity */
  z-index: 1; /* behind the caption */
}

.carousel-caption {
  z-index: 2; /* text above overlay */
}

.home-hero-img {
  display: block;
  width: 100%;
}

@media (max-width: 768px) {

  nav.navbar1.px-3.navbar.navbar-expand-lg.navbar-light {
      /* border-radius: 5px; */
      height: 72px;
      background-color: transparent ;
      width: 95% !important;
  }
}
.menu-toggle-btn:hover {
  box-shadow: none !important;
}
a.1234 {
    margin-top: -4px;
}
  
.menu-toggle-btn {
font-size: 20px !important;
}
img.footerlogo.mt-3 {
    width: 131px !important;
}
/* @media (max-width: 1000px) {
  .yes {
    margin-left: 19px !important;
  }
  
} */